.perso-box{
    padding: 10px;
    width:150px;
    background-color: gray;
    border-style: solid;
    border-color: grey;
    border-radius:10px;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.search-box{
    padding: 10px;
    width:150px;
    background-color: gray;
    border-style: solid;
    border-color: grey;
    border-radius:10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-color: black;
    border-top-width: 1px;
   
}

input{
    
}