.pins {
	width: 42;
	height: 35
}


.style-map{
	width: 100%;
	height: 488px;
	box-shadow: 0 4px  4px  rgba(0, 0, 0, .1),
	0 1px  6px  rgba(0, 0, 0, .05),
	0 8px  8px  rgba(0, 0, 0, .1), 
	0 16px 16px rgba(0, 0, 0, .1), 
	8px 32px 32px rgba(0, 0, 0, .15), 
	8px 64px 64px rgba(0, 0, 0, .15);
	border-radius: 10px;
    overflow: hidden;
}
@media screen and (min-width: 1080px){
	.style-map{
	margin-left: 40px;
	}
}

