.footerGestion{
    display: flex; 
}
.footerGeneral{ 
    height: 7vh;
    width: 100vw;
    background-color: #3a3a3a;
    box-shadow: 2px 2px 2px 2px rgba(170, 170, 170, 0.267);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social-like{
    display: flex;
}
.fb-like{
    margin-right: 1vw;
    height: 20px;
}
.sharebox {
    padding: 0.8vw 1vh;
    background-color: #3a3a3a;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Rum Raisin', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: #ffffff;
}

.sharebox:hover {
    background-color: #3a3a3a;
    color: rgba(218,38,39,0.75);
}

.sharebox > .fb-icon {
    position: absolute;
    display: block;
    height: 1.2rem;
    width: 1.2rem;
    bottom: 1rem;
    left: 0.6rem;
    background-size: 1.2rem 1.2rem;
    background-repeat: no-repeat;
}

@media screen and (min-width: 400px){
    .footerGeneral{
        margin:0;
        height: 7vh;
        width: 100vw;
        background-color: #3a3a3a;
        box-shadow: 2px 2px 2px 2px rgba(170, 170, 170, 0.267);
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
}