/* fonts : 

font-family: 'Galada', cursive; (Titre)
font-family: 'Raleway', sans-serif; (Texte)

*/ 


.search_box_placing {
    margin-left: 300px;
    margin-top: 300px;
}

.location-search-input {
    text-align: left;
}

