
.item-bar{
    list-style: none;
    background-color: #F6F6F6;
    border-radius: 4px;
    margin: 3em 0;
}

.item-bar-container{
    display: flex;
    width: 100%;
}
.img-bar-container{
    width: 250px;
    height: 250px;
    /*min-height: 150px;*/
    min-width: 250px;
    overflow: hidden;
    align-self: center;
    border-radius: 50%;
    box-shadow: 0 30px 50px 5px rgba(0,0,0,.33);
    margin-left: 5%;
    transform: translateY(-30px);
}
.img-bar{
    min-height: 100%;
    width: 100%;
}

.text-bar-container{
    position: relative;
    padding: 0 2em;
    width: 100%;
}

.title-bar{
    color: #DA2627;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 0;
    margin-top: .5em;
}


.star-svg svg{
    width: 30px;
}
.adresse-bar{
    margin-top: .5em;
    font-size: 1em;
    color: #696C73;
}

.point-bar{
    text-align: right;
    position: absolute;
    right: 2em;
    color: red;
    top: .7em;
    font-weight: 400;
}